.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.siteLayoutBackground {
    background: #fff;
}

.headerTitle {
    margin-left: 10px;
    font-size: 22px;
    font-weight: bold;
}

.container {
    overflow: auto;
    max-height: calc(~'100vh - 64px');
}

:global {
    .ant-layout > .site-layout {
        min-height: 100vh;
    }
}
